{% extends "base.html" %}
{% block title %}Cliente {{ customer }}{% endblock title %}
{% block content %}
<p style="height: 1rem;"></p>
<h1><strong>Información:<strong></h1>
<p style="height: 5px;"></p>
<h4>
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">{{ cliente.primer_nombre }}</dd>

        <dt class="col-sm-3">Apellido</dt>
        <dd class="col-sm-9">{{ cliente.ultimo_nombre }}</dd>

        <dt class="col-sm-3">Fecha de Nacimiento</dt>
        <dd class="col-sm-9">{{ cliente.fecha_nacimiento }}</dd>

        <dt class="col-sm-3">Numero celular</dt>
        <dd class="col-sm-9">{{ cliente.telefono }}</dd>

        <dt class="col-sm-3">Cedula de Identidad</dt>
        <dd class="col-sm-9">{{ cliente.cedula }}</dd>
    </dl>
</h4>

{% endblock content %}