{% extends "base.html" %}
{% block title %}Producto {{ product.name }}{% endblock title %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'bicicletas:product' %}" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> <strong>Volver</strong>
        </a>
        <h1>Información del Producto</h1>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="row g-0">
            <div class="col-md-4">
                {% if product.picture %}
                <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="Imagen de {{ product.name }}" style="object-fit: cover; height: 100%;">
                {% else %}
                <img src="{% static 'default-product-image.png' %}" class="img-fluid rounded-start" alt="Imagen de {{ product.name }}" style="object-fit: cover; height: 100%;">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <dl class="row">
                        <dt class="col-sm-3">Marca:</dt>
                        <dd class="col-sm-9">{{ product.marca }}</dd>
                        <dt class="col-sm-3">Precio:</dt>
                        <dd class="col-sm-9">{{ product.price|floatformat:2 }} USD</dd>
                        <dt class="col-sm-3">Cantidad:</dt>
                        <dd class="col-sm-9">{{ product.cantidad }}</dd>
                        <dt class="col-sm-3">Categoría:</dt>
                        <dd class="col-sm-9">{{ product.category }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
