{% extends "base.html" %}
{% block title %}Cliente {{ cliente.first_name }}{% endblock title %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'bicicletas:cliente' %}" class="btn btn-secondary btn-lg">
            <i class="fa-solid fa-arrow-left"></i> <strong>Volver</strong>
        </a>
        <h1>Información del Cliente</h1>
    </div>

    <div class="card mb-4 shadow-sm border-light">
        <div class="card-body">
            <h5 class="card-title">Cliente: {{ cliente.first_name }} {{ cliente.last_name }}</h5>
            <dl class="row">
                <dt class="col-sm-4">Nombre:</dt>
                <dd class="col-sm-8">{{ cliente.first_name }}</dd>

                <dt class="col-sm-4">Apellido:</dt>
                <dd class="col-sm-8">{{ cliente.last_name }}</dd>

                <dt class="col-sm-4">Fecha de Nacimiento:</dt>
                <dd class="col-sm-8">{{ cliente.birth_date }}</dd>

                <dt class="col-sm-4">Número Celular:</dt>
                <dd class="col-sm-8">{{ cliente.phone }}</dd>

                <dt class="col-sm-4">Cédula de Identidad:</dt>
                <dd class="col-sm-8">{{ cliente.cedula }}</dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="{% url 'bicicletas:edit_cliente' cliente.id %}" class="btn btn-warning btn-sm me-2">
                <i class="fa-solid fa-pencil"></i> Editar
            </a>
            <a href="{% url 'bicicletas:delete_cliente' cliente.id %}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i> Eliminar
            </a>
        </div>
    </div>
</div>
{% endblock content %}
