{% extends "base.html" %}
{% block title %}Venta {{ venta.id }}{% endblock title %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'bicicletas:venta' %}" class="btn btn-secondary btn-lg">
            <i class="fa-solid fa-arrow-left"></i> <strong>Volver</strong>
        </a>
        <h1>Detalles de la Venta</h1>
    </div>

    <div class="card mb-4 shadow-sm border-light">
        <div class="card-body">
            <h5 class="card-title">Venta #{{ venta.id }}</h5>
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Fecha:</dt>
                        <dd class="col-sm-8">{{ venta.date }}</dd>
                        <dt class="col-sm-4">Cliente:</dt>
                        <dd class="col-sm-8">{{ venta.cliente }}</dd>
                        <dt class="col-sm-4">Producto:</dt>
                        <dd class="col-sm-8">{{ venta.product }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Precio:</dt>
                        <dd class="col-sm-8">{{ venta.price|floatformat:2 }} USD</dd>
                        <dt class="col-sm-4">Cantidad:</dt>
                        <dd class="col-sm-8">{{ venta.cantidad }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a href="{% url 'bicicletas:edit_venta' venta.id %}" class="btn btn-warning btn-sm me-2">
                <i class="fa-solid fa-pencil"></i> Editar
            </a>
            <a href="{% url 'bicicletas:delete_venta' venta.id %}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i> Eliminar
            </a>
        </div>
    </div>
</div>
{% endblock content %}
