{% extends "base.html" %}
{% block title %}Formulario de los Productos{% endblock title %}
{% block content %}
<p style="height: 1rem;"></p>
<a href="{% url 'bicicletas:product' %}" class="btn btn-primary">
    <i class="fa-solid fa-arrow-left"><strong> Volver</strong></i>
</a>
<p style="height: 1rem;"></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock content %}