{% extends "base.html" %}
{% block title %}Compras{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Listado de Compras</h1>
    <a href="{% url 'bicicletas:ventas_list' %}" class="btn btn-primary mb-3">
        <i class="fa-regular fa-address-card"></i> Agregar Compra
    </a>
    <ol class="list-group list-group-numbered">
        {% for venta in ventas %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><strong>Fecha:</strong> {{ venta.date }}</div>
                <p class="card-text"><strong>Cliente:</strong> {{ venta.cliente }}</p>
                <p class="card-text"><strong>Producto:</strong> {{ venta.product }}</p>
                <p class="card-text"><strong>Cantidad:</strong> {{ venta.cantidad }}</p>
                <p class="card-text"><strong>Precio Total:</strong> ${{ venta.price }}</p>
            </div>
            
        </li>
        {% empty %}
        <li class="list-group-item">

            {{venta.cliente}}
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock content %}
